<div class="container">
  <div class="row sticky-top topRow mb-3">
    <div class="col text-center">
      <a href="/home" aria-label="Go to Home">
        <h1 class="headerText">farmShare!</h1>
      </a>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-6 text-center">
      <h3 class="subHeader">What's currently available:</h3>
    </div>
    <div class="col-6 text-center">
      <a href="/maps" class="text-decoration-none" aria-label="Explore Maps">
        <h3 class="subHeader">Explore Maps</h3>
      </a>
    </div>
  </div>

  {{#each posts}}
  <div class="row justify-content-center mb-4">
    <div class="card col-10">
      <div class="card-body text-center">
        <h5 class="card-title">{{this.quantity}} {{this.title}}</h5>
        <p class="card-text">{{this.city}}, {{this.state}}</p>
        <p class="card-text">{{this.date}}, {{this.startTime}} — {{this.endTime}}</p>
        <p class="card-text">Instructions: {{this.instructions}}</p>
        <p class="card-text">Posted by <strong>{{this.postedBy.username}}</strong></p>

        <div class="row">
          <div class="col">
            <a href="mailto:{{this.postedBy.email}}" class="btn btn-outline-success" role="button" aria-label="Contact {{this.postedBy.username}}">
              Contact
            </a>
          </div>
          <div class="col">
            <button 
              type="button" 
              class="btn btn-outline-secondary calendar-btn" 
              data-post="{{this.id}}" 
              aria-pressed="false" 
              aria-label="Add {{this.title}} to Calendar"
              data-toggle="button"
            >
              Add to Calendar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/each}}

  <div class="row justify-content-center mb-5">
    <div class="col-4 text-center">
      <a href="/home" class="btn btn-danger" role="button" aria-label="Go to Your Home">
        Your Home
      </a>
    </div>
  </div>

  <footer>
    <div class="row footer">
      <div class="col text-center">
        <p class="pFooter">&copy; 2019 farmShare</p>
      </div>
    </div>
  </footer>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"></script>

<script src="/js/feed.js" async defer></script>
